mule-source/src/main/mule/employee-flows.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
    
    <http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <db:config name="Database_Config" doc:name="Database Config">
        <db:generic-connection url="jdbc:h2:mem:testdb;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE" driverClassName="org.h2.Driver" user="sa"/>
    </db:config>

    <flow name="init-database" doc:name="init-database" initialState="started">
        <scheduler doc:name="Scheduler">
            <scheduling-strategy>
                <fixed-frequency frequency="999999999" startDelay="100" timeUnit="MILLISECONDS"/>
            </scheduling-strategy>
        </scheduler>
        <db:execute-ddl config-ref="Database_Config" doc:name="Create Table">
            <db:sql><![CDATA[
                CREATE TABLE IF NOT EXISTS employees (
                    id INT AUTO_INCREMENT PRIMARY KEY,
                    firstName VARCHAR(255) NOT NULL,
                    lastName VARCHAR(255) NOT NULL,
                    email VARCHAR(255) NOT NULL,
                    departmentId INT,
                    hireDate DATE
                )
            ]]></db:sql>
        </db:execute-ddl>
        <try doc:name="Try">
            <db:insert config-ref="Database_Config" doc:name="Insert John Doe">
                <db:sql>INSERT INTO employees (firstName, lastName, email, departmentId, hireDate) VALUES ('John', 'Doe', 'john.doe@example.com', 1, '2023-01-15')</db:sql>
            </db:insert>
            <db:insert config-ref="Database_Config" doc:name="Insert Jane Smith">
                <db:sql>INSERT INTO employees (firstName, lastName, email, departmentId, hireDate) VALUES ('Jane', 'Smith', 'jane.smith@example.com', 2, '2023-02-20')</db:sql>
            </db:insert>
            <db:insert config-ref="Database_Config" doc:name="Insert Bob Johnson">
                <db:sql>INSERT INTO employees (firstName, lastName, email, departmentId, hireDate) VALUES ('Bob', 'Johnson', 'bob.johnson@example.com', 1, '2023-03-10')</db:sql>
            </db:insert>
            <error-handler>
                <on-error-continue doc:name="On Error Continue">
                    <logger level="INFO" message="Sample data might already exist, continuing..." doc:name="Logger"/>
                </on-error-continue>
            </error-handler>
        </try>
        <logger level="INFO" message="Database initialized successfully" doc:name="Logger"/>
    </flow>

    <flow name="get-all-employees" doc:name="get-all-employees">
        <http:listener config-ref="HTTP_Listener_config" path="/api/employees" allowedMethods="GET" doc:name="Listener"/>
        <db:select config-ref="Database_Config" doc:name="Select">
            <db:sql>SELECT * FROM employees</db:sql>
        </db:select>
        <set-payload value='#[output application/json --- payload]' doc:name="Set Payload"/>
    </flow>

    <flow name="get-employee-by-id" doc:name="get-employee-by-id">
        <http:listener config-ref="HTTP_Listener_config" path="/api/employees/{id}" allowedMethods="GET" doc:name="Listener">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
        </http:listener>
        <db:select config-ref="Database_Config" doc:name="Select">
            <db:sql>SELECT * FROM employees WHERE id = :id</db:sql>
            <db:input-parameters ><![CDATA[#[{'id': attributes.uriParams.id}]]]></db:input-parameters>
        </db:select>
        <choice doc:name="Check if Found">
            <when expression="#[sizeOf(payload) > 0]">
                <set-payload value='#[output application/json --- payload[0]]' doc:name="Set Employee"/>
            </when>
            <otherwise>
                <set-payload value='#[output application/json --- {"message": "Employee not found"}]' doc:name="Set Not Found"/>
                <set-variable variableName="httpStatus" value="404" doc:name="Set 404 Status"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="test-flow" doc:name="test-flow">
        <http:listener config-ref="HTTP_Listener_config" path="/test" doc:name="Listener"/>
        <set-payload value="Hello from Mule!" doc:name="Set Payload"/>
    </flow>

    <flow name="create-employee" doc:name="create-employee">
        <http:listener config-ref="HTTP_Listener_config" path="/api/employees" allowedMethods="POST" doc:name="Listener">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
        </http:listener>
        <set-variable variableName="newEmployee" value="#[payload]" doc:name="Save New Employee"/>
        <db:insert config-ref="Database_Config" doc:name="Insert" autoGenerateKeys="true">
            <db:sql>INSERT INTO employees (firstName, lastName, email, departmentId, hireDate) VALUES (:firstName, :lastName, :email, :departmentId, :hireDate)</db:sql>
            <db:input-parameters><![CDATA[#[{
                'firstName': payload.firstName,
                'lastName': payload.lastName,
                'email': payload.email,
                'departmentId': payload.departmentId,
                'hireDate': payload.hireDate
            }]]]></db:input-parameters>
        </db:insert>
        <set-payload value='#[output application/json --- vars.newEmployee ++ {id: payload.generatedKeys[0]}]' doc:name="Set Response"/>
        <set-variable variableName="httpStatus" value="201" doc:name="Set Status Code"/>
    </flow>

    <flow name="update-employee" doc:name="update-employee">
        <http:listener config-ref="HTTP_Listener_config" path="/api/employees/{id}" allowedMethods="PUT" doc:name="Listener">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
        </http:listener>
        <set-variable variableName="employeeId" value="#[attributes.uriParams.id]" doc:name="Save Employee ID"/>
        <db:update config-ref="Database_Config" doc:name="Update">
            <db:sql>UPDATE employees SET firstName = :firstName, lastName = :lastName, email = :email, departmentId = :departmentId, hireDate = :hireDate WHERE id = :id</db:sql>
            <db:input-parameters><![CDATA[#[{
                'id': vars.employeeId,
                'firstName': payload.firstName,
                'lastName': payload.lastName,
                'email': payload.email,
                'departmentId': payload.departmentId,
                'hireDate': payload.hireDate
            }]]]></db:input-parameters>
        </db:update>
        <choice doc:name="Check if Updated">
            <when expression="#[(payload.affectedRows default 0) > 0]">
                <db:select config-ref="Database_Config" doc:name="Get Updated Employee">
                    <db:sql>SELECT * FROM employees WHERE id = :id</db:sql>
                    <db:input-parameters><![CDATA[#[{'id': vars.employeeId}]]]></db:input-parameters>
                </db:select>
                <set-payload value='#[output application/json --- if (sizeOf(payload) > 0) payload[0] else null]' doc:name="Set Response"/>
            </when>
            <otherwise>
                <set-payload value='#[output application/json --- {"message": "Employee not found"}]' doc:name="Set Error Response"/>
                <set-variable variableName="httpStatus" value="404" doc:name="Set Not Found Status"/>
            </otherwise>
        </choice>
    </flow>

    <flow name="delete-employee" doc:name="delete-employee">
        <http:listener config-ref="HTTP_Listener_config" path="/api/employees/{id}" allowedMethods="DELETE" doc:name="Listener">
            <http:response statusCode="#[vars.httpStatus default 200]"/>
        </http:listener>
        <set-variable variableName="employeeId" value="#[attributes.uriParams.id]" doc:name="Save Employee ID"/>
        <logger level="INFO" message="#['DELETE request for employee ID: ' ++ vars.employeeId]" doc:name="Log Delete Request"/>
        <db:delete config-ref="Database_Config" doc:name="Delete">
            <db:sql>DELETE FROM employees WHERE id = :id</db:sql>
            <db:input-parameters><![CDATA[#[{'id': vars.employeeId}]]]></db:input-parameters>
        </db:delete>
        <logger level="INFO" message="#['Delete result - payload type: ' ++ (typeOf(payload) as String) ++ ', value: ' ++ write(payload, 'application/json')]" doc:name="Log Delete Result"/>
        <choice doc:name="Check if Deleted">
            <when expression="#[payload > 0]">
                <set-variable variableName="httpStatus" value="204" doc:name="Set No Content Status"/>
                <set-payload value="#[null]" doc:name="Set Empty Payload"/>
            </when>
            <otherwise>
                <set-payload value='#[output application/json --- {"message": "Employee not found"}]' doc:name="Set Error Response"/>
                <set-variable variableName="httpStatus" value="404" doc:name="Set Not Found Status"/>
            </otherwise>
        </choice>
    </flow>

</mule>
